{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Conseils aux voyageurs{% endblock %}

{% block description %}Conseils aux voyageurs{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/styles/conseilsauxvoyageurs.css">
{% endblock %}
{% block main %}
  <main>
  <h1 class="text-center my-3 display-5"> </h1>
   <div class="img-fluid">
                <img src="{{asset('img/visitor/conseilsauxvoyageurs/maldives.jpg')}}" class="col-md-12 float-md-end mb-3 me-md-3 ps-4"
                  alt="conseil_voyage">
                </image>
            <div class="col-md-12 float-md-end mb-3 me-md-3 ps-4">
                <p>AVANT LE DÉPART</p>
                <p>Planification !!</p>
                   <p> Itinéraire : Préparez un itinéraire détaillé avec les principaux points d'intérêt.
                    Réservations : Réservez à l'avance les hébergements, les billets d'avion ou de train, et les activités.</p>
                    <p>Documents :Passeport et visa : Assurez-vous que votre passeport est à jour et vérifiez les exigences en matière de visa pour votre destination.
                    Assurance voyage : Souscrivez une assurance voyage qui couvre les soins médicaux, les annulations et les pertes de bagages.</p>
                   <p>Santé :Vaccinations : Vérifiez les vaccinations nécessaires pour la destination.
                    Trousse de secours : Emportez une trousse de premiers secours avec les médicaments essentiels.</p>
                    <p>Pendant le voyage Sécurité : Objets de valeur : Gardez vos objets de valeur en sécurité et évitez de les exhiber en public.
                    Information locale : Renseignez-vous sur les zones à éviter et les conseils de sécurité locaux.</p>
                    <p>Budget : Change de devises : Changez une partie de votre argent avant de partir et utilisez des cartes bancaires pour les gros achats.
                    Dépenses : Suivez vos dépenses pour éviter les mauvaises surprises.</p>
                    <p>Culture et respect : Langue : Apprenez quelques phrases de base dans la langue locale.</p>
                    Us et coutumes : Informez-vous sur les coutumes et traditions locales pour montrer du respect et éviter les malentendus.
                    <p>Après le voyage
                    Récapitulation :Journal de voyage : Notez vos expériences et impressions pour en garder un souvenir.</p>
                    <p>Photos : Triez et sauvegardez vos photos.</p>
                    <p>Feedback : Avis : Laissez des avis sur les hébergements et les activités pour aider d'autres voyageurs.</p>
                    <p>Amélioration : Notez ce que vous feriez différemment la prochaine fois.</p>
                    <p>Conseils spécifiques
                    <p>Voyage en solo : Communications : Informez régulièrement quelqu'un de votre itinéraire et de votre situation.</p>
                    <p>Réseaux sociaux : Utilisez les groupes de voyageurs pour obtenir des conseils et des contacts.</p>
                    <p>Voyage en famille : Activités : Choisissez des activités adaptées à tous les âges.</p>
                    Logistique : Préparez-vous aux imprévus avec des enfants, comme des retards ou des besoins supplémentaires.
                    <p>Voyage d’affaires : Organisation : Utilisez des applications pour organiser vos réunions et déplacements.</p>
                    <p>Tenue : Prévoyez des tenues adaptées aux rencontres professionnelles.</p>
                    <p>Outils et ressources
                    Applications : Cartes et navigation : Google Maps, Maps.me</p>
                    <p>Langues : Duolingo, Google Translate</p>
                    <p>Budget : Trail Wallet, Splitwise</p>
                    <p>Sites web : Avis de voyageurs : TripAdvisor, Yelp</p>
                    <p>Réservations : Booking.com, Airbnb, Expedia</p>
                    <p>En suivant ces conseils, les voyageurs peuvent mieux préparer leurs voyages, profiter pleinement de leur expérience et éviter les problèmes courants.</p>
             </div>
   </div>
  </main>
{% endblock %}