



body{
    
    background-color:rgb(125, 235, 235)
}
section img{
    width: 100%;
    }
.texte{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*footer*/
.p{
    background-color: black;
    display: flex;
    flex-wrap: right;
 }
 .iconnes{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .iconnes a{
      color: black;
    }

