{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/styles/app.css">
{% endblock %}
{% block main %}
<h1>Accueil</h1>
<p></p>
{% endblock %}
