{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/styles/app.css">
{% endblock %}
{% block main %}
<main class="d-flex flex-row">
    <div class="col-md-5 order-1">
    </div>
        <div class="conteneur col-md-7 order-2 titre d-flex flex-column">
        <p class="h3 w-75 text-center"> Bienvenue sur mon blog de voyages</p>
        <a class="btn border-1 border-black border-opacity-25 "
           class="nav-link" href="{{ path('app_visitor_destinations') }}">Je découvre</a>
        </div>
    </main>
{% endblock %}
